body{
    font-family: 'Source Sans Pro', sans-serif;
    background: #253F4E;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}

h1{
    font-size: 40px;
    line-height: 1.5em;
    letter-spacing: -.2px;
    text-transform: capitalize;
    /* text-decoration: underline; */
}

.hero{
    width: 400px;
}

.project-details{
    width: 500px;
}

.project-imageContainer{
    width: 500px;
}

header{
    background: #1D252C;
}

/*
Reglas:
    Selectores:
        Declaraciones:
            Propiedades:
                Valores
*/

/*
Selectores de etiqueta:
body, header, article, div, etcétera
body{

}
*/

/*
Selectores descendentes:
body header div nav ol li a{

}
*/

/*
Selector de Clase .
.link{

}
*/

/*
Selector de ID #
#portafolio{

}
*/